body {
  font-family: Raleway;
  letter-spacing: 1px;
  line-height: 1.4;
  color:#474762;
  margin: 0;
  background-color: snow;
}

a {
  text-decoration: none;
}

.main-container {
  size: 100vh;
  height: 100vh;
  background-image: url("https://lh3.googleusercontent.com/ETnTTN4YDluKw7wIx_1WYapiD1zayCzvIkssp72kC_aV7BkvxoXvbkpv4sR89fHbmoW_dV82RHd35v2jjPxsTwVpdebY84lV7jVveKfpY7R8bIDc5I5jEy4mHaHtJY0HNqMHATeyYg=w2070-h1552-no");
  background-size: cover;
  background-position: center;
}


.main-title{
  text-align: center;
  padding-top: 40px;
  font-size: 64px;
  animation: fadein 2s;
   -moz-animation: fadein 2s; /* Firefox */
   -webkit-animation: fadein 2s; /* Safari and Chrome */
  /* animation-delay: 1s;
   -webkit-animation-delay: 1s;
   -moz-animation-delay: 1s; */
}

button{
position: absolute;
top:54px;
right: 40px;
padding: 20px;
font-size: 14px;
letter-spacing: 2px;
padding: 18px;
border: 3px solid #333;
background: transparent;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:2s;
  -moz-animation-duration:2s;
  animation-duration:2s;

  animation-delay: 1s;
  -webkit-animation-delay: 1s;
 -moz-animation-delay:1s;
}

.fade-in-button {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:2s;
  -moz-animation-duration:2s;
  animation-duration:2s;

  animation-delay: 2s;
  -webkit-animation-delay: 2s;
 -moz-animation-delay:2s;
}

.top-nav {
  display: flex;
  background-color: white;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  padding: 20px 30px;
  line-height: 0;
}

h1 {
  flex-basis: 50%;
  font-size: 20px;
  position: relative;
}

nav{
    flex-basis: 50%;
    justify-content: right;
    padding-top: 5px;

}

#nav-flex {
  display: flex;
  justify-content: flex-end;
}

.top-nav-link {
  margin: 10px;
}

#details {
  display: flex;
  justify-content: center;
}

#details img {
margin:30px;
box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
width:960px;
height:682.5px;

}

#cta {
 width: 300px;
 margin-left: 30px;
 display: inline-block;
}

h6 {
  font-size: 14px;
  line-height: 1.6;
  color: #474762;
  margin: 25px 0;
}

#cta a {
  border: 2px solid #474762;
  padding: 10px 15px;
  font-size: 14px;
  color: #474762;
}




.wedding-details {
  display: flex;
  width: 900px;
  margin:auto;
  background-color: #fff;
  margin-bottom: 30px;
  padding: 30px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
  font-size: 18px;

}

#timeline{
  flex-basis: 50%;

}

#timeline li{
  margin: 10px 0;
  list-style-type: none;
}

.dots {
  color: #ccc;
}

#songs{
  flex-basis: 50%;

}

#songs img {
  height: 100px;
  display: inline-block;
  position: relative;
  top:15px;
}

/*TODO: make this responsive  */
.story-timeline {
  width: 800px;
  margin: auto;
}

.timeline-top-divider {
  height: 80px;
  width: 10px;
  background-color: grey;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 3px 3px black;
  margin: 10px auto 0px auto;
}

.timeline-bottom-divider {
  height: 80px;
  width: 10px;
  background-color: grey;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 3px 3px black;
  margin: 0px auto;
}

.timeline-divider-dot {
  height: 30px;
  width: 10px;
  background-color: grey;
  border-radius: 5px;
  box-shadow: 3px 3px black;
  margin: 0px auto;
}

.timeline-divider {
  height: 80px;
  width: 10px;
  background-color: grey;
  /* border-radius: 5px; */
  box-shadow: 3px 3px black;
  margin: 0px auto;
}

.story {
  display: flex;
  max-height: 400px;
  align-items: center;
  border-radius: 10px;
  border: 10px solid grey;
  box-shadow: 3px 3px black;
}

.story img {
  width: 400px;
}

.story-text {
  padding: 10px;
}

.tooltip {
  position: relative;
  color: #bd0000;
}

.hover-joke {
  display: none;
  border:10px solid black;
  border-radius: 5px;
  z-index: 999;
/* lol maybe not */
  /* -webkit-animation: hoverJokeBlink 1s step-end infinite;
  animation: hoverJokeBlink 1s step-end infinite; */
}

.hover-joke img {
  /* some google photos BS */
  margin-bottom: -5px;
}

.tooltip:hover .hover-joke {
  display: block;
  position: absolute;
}

@keyframes hoverJokeBlink {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: red
    }
}


@media (max-width: 800px) {
  .story-timeline {
    width: 500px;
  }

  .story img {
    width: 250px;
  }
}

/* @media (max-width: ) */
